<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Popular Videos</title>
</head>

<body>
    <div class="container">
        <h3 class="video-head">Video Details</h3>
        <div class="video-details" id="videoDetails">
            <div class="card mb-3" style="max-width: 440px;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="<%= video.videoUrl %>?autoplay=true"
                        allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= video.videoTitle %></h5>
                    <p class="card-text"><%= video.videoDescription %></p>
                    <span class="text-muted"><%= video.videoViewCount %></span>
                    <span class="text-muted">&#124;</span>
                    <span class="text-muted"><%= video.videoPublishedTime %></sapn>
                        <p class="card-text"><small class="text-muted"><%= video.channelTitle %></small></p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="script.js"></script>

</html>